/* Reset some default styles */
body, p, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}
p, h1, h2, h3 {
    padding-left: 1vw;
}

body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(rgb(220, 196, 235), rgba(159, 199, 216, 0.852)) ;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Style the navigation */
nav {
    height: 3.5vmax;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(57, 66, 94, 0.493);
    position: sticky;
    top: 0;
    background-color: rgb(50, 48, 48);
    z-index: 10000;
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2vw;
    font-size: 1.5vw;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    font-weight: bold;
    font-size: x-large;
   
}

nav a:hover{
    color: red;
    border-bottom: 2px solid red;
}

h2{
    margin-top: 2vh;
    margin-bottom: 1vh;
}

#rituimg{
    height: 50vh;
    float: right;
    padding-right: 2vh;
    margin-top: 0;
    filter: drop-shadow(0 0 10px black);
}
#certificate{
    height: 35vh;
    float: right;
    padding-right: 2vh;
    margin-top: 0 ;
    filter: drop-shadow(0 0 10px black);
}
div{
    margin-top: 3vh;
}

/* Style the main content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

/* Style the project page content */
.project-description {
    margin-top: 1rem;
}

/* Style the contact details */
.contact-details {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
}
footer{
    clear: right;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }
}

